@model IEnumerable<Presentation.Web.MVC.Models.MvcDepartamentoModel>

@{
    ViewBag.Title = "Index";
}

@section styleDataTable {
    @Styles.Render("~/Content/dataTables")

    <style media="screen">
        tr td, tr th {
            white-space: nowrap;
        }
    </style>
}

@section scriptsDataTable {
    @Scripts.Render("~/bundles/dataTables")
    <script type="text/javascript">
        $(document).ready(function () {
            $('#dataTable').DataTable({ "bFilter": false });
            //  $('#dataTable').DataTable();
        });
    </script>
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        function modalCreate(data, url) {
            $('#modalCreateDepartamentoContent').html(data);
            $('#createForm').unbind();
            $('#createForm').bind("submit", function (event) {
                event.preventDefault();
                $.ajax({
                    type: "POST",
                    url: url,
                    data: $('#createForm').serialize(),
                    success: function (data) {
                        if (data != "OK") {
                            modalCreate(data, url)
                        }
                        else {
                            window.location.href = '@Url.Action("Index")'
                        }
                    }
                });
            });
        }

        $('#actionCreateDepartamento').on('click', function () {
            let url = '/Departamento/Create';
            $.ajax({
                type: "GET",
                url: url,
                success: function (data) {
                    modalCreate(data, url)
                }
            });
        });

        $("#modalCreateDepartamento").on("hidden.bs.modal", function () {
            $("#modalCreateDepartamentoContent").html("<p styles='text-align:center; margin-top:1rem; font-weight:bold;'> Loading... </p>");
            $("#editForm").unbind();
        });

        /*------------------------------*/

        function modalEdit(data, url) {
            $('#modalEditDepartamentoContent').html(data);
            $('#editForm').unbind();
            $('#editForm').bind("submit", function (event) {
                event.preventDefault();
                $.ajax({
                    type: "POST",
                    url: url,
                    data: $('#editForm').serialize(),
                    success: function (data) {
                        data != "OK" ? modalEdit(data, url) : window.location.reload();
                    }
                });
            });
        }

        $('.actionEditDepartamento').on('click', function () {
            let index = $(this).parent().siblings().first().text().trim();
            let url = `/Departamento/Edit/${index}`;
            $.ajax({
                type: "GET",
                url: url,
                success: function (data) {
                    modalEdit(data, url)
                }
            });
        });

        $("#modalEditDepartamento").on("hidden.bs.modal", function () {
            $("#modalEditDepartamentoContent").html("<p styles='text-align:center; margin-top:1rem; font-weight:bold;'> Loading... </p>");
            $("#editForm").unbind();
        });

        /*------------------------------*/

        var idToDelete;
        var toDeleteName = document.getElementById('toDeleteName');

        $('.actionDeleteDepartamento').on('click', function () {
            idToDelete = $(this).parent().siblings().first().text().trim();
            toDeleteName.innerHTML = $(this).parent().siblings().first().next().text().trim();
        });

        $('#deleteConfirmButton').on('click', function () {
            let url = `/Departamento/Delete/${idToDelete}`;
            $.ajax({
                type: "POST",
                url: url,
                success: function (data) { window.location.reload() }
            });
        });

        /*------------------------------*/

        $("#searchForm").on('submit', function (e) {
            e.preventDefault();
            let partialDesc = $("#searchText").val();
            if (partialDesc != null && partialDesc != "") {
                let url = `/Departamento/Search?partialDesc=${partialDesc}`;
                window.location.href = url;
            }
        });
    </script>
}

<!-- Modal Nuevo Departamento -->
<div class="modal fade" id="modalCreateDepartamento" tabindex="-1" role="dialog" aria-labelledby="modalCreateDepartamento" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" id="modalCreateDepartamentoContent">
            <p> Loading... </p>
        </div>
    </div>
</div>

<!-- Modal Modificar Departamento -->
<div class="modal fade" id="modalEditDepartamento" tabindex="-1" role="dialog" aria-labelledby="modalEditDepartamento" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" id="modalEditDepartamentoContent">
            <p> Loading... </p>
        </div>
    </div>
</div>

<!-- Modal Eliminar Departamento -->
<div class="modal fade" id="modalDeleteDepartamento" tabindex="-1" role="dialog" aria-labelledby="modalDeleteDepartamento" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" id="modalDeleteDepartamentoContent">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Eliminar Departamento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro que desea eliminar a <span id="toDeleteName" class="badge badge-danger"></span> ? Esta acción no podrá deshacerse.</p>
            </div>
            <div class="modal-footer">
                <button id="deleteConfirmButton" type="button" class="btn btn-danger">Eliminar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!-- Index Departamento -->
<div class="container-fluid">
    <h1 class="h3 mb-4 text-gray-800">Administrar Departamentos</h1>
    <div class="row  mb-3">
        <div class="col col-auto d-flex">
            <button id="actionCreateDepartamento" class="btn btn-primary" type="button" name="button" data-toggle="modal" data-target="#modalCreateDepartamento">Nuevo Departamento</button>
        </div>
        <form class="col" id="searchForm">
            <div class="input-group">
                <input type="text" class="form-control bg-light border border-primary p-4" id="searchText" placeholder="Buscar Departamento" aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary" id="searchButton">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="d-none">
                                @Html.DisplayNameFor(model => model.Id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th class="d-none">
                                @Html.DisplayNameFor(model => model.Id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>Acciones</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="d-none">
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td class="d-flex align-items-center p-0">
                                    <button data-toggle="modal" data-target="#modalEditDepartamento" type="button" class="actionEditDepartamento d-flex align-items-center btn btn-warning m-1">
                                        <i class="fas fa-edit fa-xs m-1"></i>
                                        <p class="d-none d-md-block m-0">Editar</p>
                                    </button>
                                    <button data-toggle="modal" data-target="#modalDeleteDepartamento" class="actionDeleteDepartamento d-flex align-items-center btn btn-danger m-1">
                                        <i class="fas fa-trash-alt fa-xs m-1"></i>
                                        <p class="d-none d-md-block m-0">Eliminar</p>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
