@model Presentation.Web.MVC.Models.MvcUsuarioModel

@{
    ViewBag.Title = "Details";
}

    <div class="row justify-content-md-center">
        <div class="col-lg-11">
            <!-- Basic Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Mi Perfil</h6>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                @Html.LabelFor(model => model.Firstname, new { @class = "mb-0 ml-1" })
                                @Html.TextBoxFor(model => model.Firstname, new { @class = "form-control form-control-user" })
                            </div>
                            <div class="col-sm-6">
                                @Html.LabelFor(model => model.Surname, new { @class = "mb-0 ml-1" })
                                @Html.TextBoxFor(model => model.Surname, new { @class = "form-control form-control-user" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-7 mb-3 mb-sm-0">
                                @Html.LabelFor(model => model.Username, new { @class = "mb-0 ml-1" })
                                @Html.TextBoxFor(model => model.Username, new { @class = "form-control form-control-user" })
                            </div>
                            <div class="col-sm-5">
                                @Html.LabelFor(model => model.Legajo, new { @class = "mb-0 ml-1" })
                                @Html.TextBoxFor(model => model.Legajo, new { @class = "form-control form-control-user" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                @Html.LabelFor(model => model.Email, new { @class = "mb-0 ml-1" })
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control form-control-user" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                @Html.LabelFor(model => model.Phone1, new { @class = "mb-0 ml-1" })
                                @Html.TextBoxFor(model => model.Phone1, new { @class = "form-control form-control-user" })
                            </div>
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                @Html.LabelFor(model => model.Phone2, new { @class = "mb-0 ml-1" })
                                @Html.TextBoxFor(model => model.Phone2, new { @class = "form-control form-control-user" })
                            </div>
                        </div>
                        <hr />
                        <div class="row justify-content-around">
                            <div class="form-check">
                                @try {
                                    if (Model.Legajo != null) {
                                        <input class="form-check-input" type="checkbox" value="" id="alumnoCheck" checked>
                                    } else {
                                        <input class="form-check-input" type="checkbox" value="" id="alumnoCheck">
                                    }
                                } catch {
                                    <input class="form-check-input" type="checkbox" value="" id="alumnoCheck">
                                }
                                <label class="form-check-label" for="alumnoCheck">
                                    Alumno
                                </label>
                            </div>
                            <div class="form-check">
                                @try {
                                    if (Model.Matricula != null && Model.Matricula != "") {
                                        <input class="form-check-input" type="checkbox" value="" id="profesorCheck" checked>
                                    } else {
                                        <input class="form-check-input" type="checkbox" value="" id="profesorCheck">
                                    }
                                } catch {
                                    <input class="form-check-input" type="checkbox" value="" id="profesorCheck">
                                }
                                <label class="form-check-label" for="profesorCheck">
                                    Profesor
                                </label>
                            </div>
                            <div class="form-check">
                                @Html.CheckBoxFor(m => m.IsAdmin, new { @class = "form-check-input", id = "adminCheck" })
                                <label class="form-check-label" for="adminCheck">
                                    Admin
                                </label>
                            </div>
                        </div>
                        <a href="#" class="btn btn-success">
                            Guardar Cambios
                        </a>
                    </form>
                </div>
            </div>
            <!-- Collapsable Card Example -->
            <div class="card shadow mb-4">
                <!-- Card Header - Accordion -->
                <a href="#editPasswordCollapse" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="editPasswordCollapse">
                    <h6 class="m-0 font-weight-bold text-primary">Editar Contraseña</h6>
                </a>
                <!-- Card Content - Collapse -->
                <div class="collapse show" id="editPasswordCollapse">
                    <div class="card-body">
                        <form>
                            <div class="form-group row">
                                <div class="col-sm-12 mb-3 mb-sm-0">
                                    <input type="password" class="form-control form-control-user" id="contraseña0" placeholder="Contraseña actual">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="password" class="form-control form-control-user" id="contraseña1" placeholder="Nueva Contraseña">
                                </div>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control form-control-user" id="contraseña2" placeholder="Repetir Nueva Contraseña">
                                </div>
                            </div>
                            <a href="#" class="btn btn-success">
                                Cambiar
                            </a>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Collapsable Card Example -->
            <div class="card shadow mb-4">
                <!-- Card Header - Accordion -->
                <a href="#settingsCollapse" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="settingsCollapse">
                    <h6 class="m-0 font-weight-bold text-primary">Opciones</h6>
                </a>
                <!-- Card Content - Collapse -->
                <div class="collapse show" id="settingsCollapse">
                    <div class="card-body">
                        --
                    </div>
                </div>
            </div>
        </div>
    </div>

@*
Permitir el edit...? --> Que es este comentario?
@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
@Html.ActionLink("Back to List", "Index")
*@
