@model IEnumerable<WebPresentationMVC.Models.MvcDepartamentoModel>

@{
    ViewBag.Title = "Index";
}

@section styleDataTable {
    @Styles.Render("~/Content/dataTables")
}

@section scriptsDataTable {
    @Scripts.Render("~/bundles/dataTables")
    <script type="text/javascript">
        $(document).ready(function () {
            $('#dataTable').DataTable({ "bFilter": false });
            //  $('#dataTable').DataTable();
        });
    </script>
}


<div class="container-fluid">
    <!-- Modal Modificar Usuario -->
    <div class="modal fade" id="modalModifyUser" tabindex="-1" role="dialog" aria-labelledby="modalModifyUserTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                @using (Html.BeginForm("Create", "Departamento"))
                {
                    @Html.AntiForgeryToken()
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Nuevo departamento</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-control-user" name="Name" placeholder="Departamento">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-success">Guardar</button>
                    </div>
                }
            </div>
        </div>
    </div>



    <h1 class="h3 mb-2 text-gray-800">Editar Departamentos</h1>
    <p class="mb-4">Las opciones aquí listadas son posibles debido a tu estado de administrador. Sé cuidadoso al modificar estas opciones (?</p>
    <div class="row  mb-3">
        <div class="col col-auto d-flex">
            <button class="btn btn-primary" type="button" name="button" data-toggle="modal" data-target="#modalModifyUser">Nuevo Departamento</button>
        </div>
    </div>
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Acciones</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td class="d-flex align-items-center p-0">
                                    <button data-toggle="modal" data-target="#modalModifyUser" type="button" class="d-flex align-items-center btn btn-warning m-1">
                                        <i class="fas fa-edit fa-xs m-1"></i>
                                        <p class="d-none d-md-block m-0">Editar</p>
                                    </button>
                                    <button type="button" class="d-flex align-items-center btn btn-danger m-1">
                                        <i class="fas fa-trash-alt fa-xs m-1"></i>
                                        <p class="d-none d-md-block m-0">Eliminar</p>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>