@model Presentation.Web.MVC.ViewModels.EditInscripcionRecibidaViewModel
@{
    ViewBag.Title = "_EditInscripcion";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "editForm" })) {
    @Html.AntiForgeryToken()
    <div class="modal-header">
        <h5 class="modal-title">Responder Inscripción</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group row">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Inscripcion.Id)
        </div>
        <div class="form-group row">
            <div class="col-sm-12 mb-3 mb-sm-0">
                @Html.EditorFor(model => model.Inscripcion.Topic, new { htmlAttributes = new { @placeholder = "Asunto", @class = "form-control  form-control-user", @readonly = "true" } })
                @Html.ValidationMessageFor(model => model.Inscripcion.Topic, "", new { @class = "text-danger m-0" })
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12 mb-3 mb-sm-0">
                @Html.EditorFor(model => model.Inscripcion.Observation, new { htmlAttributes = new { @placeholder = "Observación", @class = "form-control  form-control-user", @readonly = "true" } })
                @Html.ValidationMessageFor(model => model.Inscripcion.Observation, "", new { @class = "text-danger m-0" })
            </div>
        </div>
        <div class="form-group row ">
            <div class="col-sm-12">
                @Html.EditorFor(model => model.Inscripcion.Answer, new { htmlAttributes = new { @placeholder = "Respuesta Corta", @class = "form-control form-control-user" } })
                @Html.ValidationMessageFor(model => model.Inscripcion.Answer, "", new { @class = "text-danger m-0" })
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" id="closeButton" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
        <button type="submit" id="submitButton" class="btn btn-success">Guardar</button>
    </div>
}
