@model Presentation.Web.MVC.ViewModels.EditOwnHorarioConsultaViewModel

@{
    ViewBag.Title = "_EditHorario";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "editForm" })) {
    @Html.AntiForgeryToken()
    <div class="modal-header">
        <h5 class="modal-title">Editar HorarioConsulta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group row">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.HorarioConsulta.Id)
        </div>
        <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                @Html.EditorFor(model => model.HorarioConsulta.StartHour, new { htmlAttributes = new { @placeholder = "Hora Inicio", @class = "form-control  form-control-user" } })
                @Html.ValidationMessageFor(model => model.HorarioConsulta.StartHour, "", new { @class = "text-danger m-0" })
            </div>
            <div class="col-sm-6 mb-3 mb-sm-0">
                @Html.EditorFor(model => model.HorarioConsulta.EndHour, new { htmlAttributes = new { @placeholder = "Hora Finalización", @class = "form-control form-control-user" } })
                @Html.ValidationMessageFor(model => model.HorarioConsulta.EndHour, "", new { @class = "text-danger m-0" })
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-7 mb-3 mb-sm-0">
                @Html.EditorFor(model => model.HorarioConsulta.Place, new { htmlAttributes = new { @placeholder = "Lugar", @class = "form-control  form-control-user" } })
                @Html.ValidationMessageFor(model => model.HorarioConsulta.Place, "", new { @class = "text-danger m-0" })
            </div>
            <div class="col-sm-5 mb-3 mb-sm-0">
                @Html.DropDownListFor(
                    model => model.HorarioConsulta.Weekday,
                    Model.DiasList,
                    "Día de la Semana",
                    new { @class = "form-control form-control-user", @label = Model.DiasList }
                    )
                @Html.ValidationMessageFor(model => model.HorarioConsulta.Weekday, "", new { @class = "text-danger m-0" })
            </div>
        </div>
        <div class="form-group row ">
            <div class="col-md-12">
                @Html.DropDownListFor(
             model => model.HorarioConsulta.MateriaId,
             Model.MateriasList,
             "Materia",
             new { @class = "form-control" }
             )
                @Html.ValidationMessageFor(model => model.HorarioConsulta.MateriaId, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" id="closeButton" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
        <button type="submit" id="submitButton" class="btn btn-success">Guardar</button>
    </div>
}
