@model IEnumerable<Presentation.Web.MVC.Models.MvcInscripcionModel>

@{
    ViewBag.Title = "Index";
}

@section styleDataTable {
    @Styles.Render("~/Content/dataTables")
}

@section scriptsDataTable {
    @Scripts.Render("~/bundles/dataTables")
    <script type="text/javascript">
        $(document).ready(function () {
            $('#dataTable').DataTable({ "bFilter": false });
            //  $('#dataTable').DataTable();
        });
    </script>
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<!-- Index Inscripcion -->
<div class="container-fluid">
    <h1 class="h3 mb-4 text-gray-800">Administrar Inscripciones a Consultas</h1>
    <div class="row  mb-3">
        <form class="col">
            <div class="input-group">
                <input type="text" class="form-control bg-light border border-primary p-4" placeholder="Buscar Inscripción" aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="d-none">
                                @Html.DisplayNameFor(model => model.Id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Topic)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.State)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Answer)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Observation)
                            </th>
                            <th>
                                Alumno
                            </th>
                            <th>
                                HorarioConsultaFechado
                            </th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th class="d-none">
                                @Html.DisplayNameFor(model => model.Id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Topic)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.State)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Answer)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Observation)
                            </th>
                            <th>
                                Alumno
                            </th>
                            <th>
                                HorarioConsultaFechado
                            </th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="d-none">
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Topic)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.State)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Answer)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Observation)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Alumno.Surname)
                                    <br />
                                    @Html.DisplayFor(modelItem => item.Alumno.Firstname)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.HorarioConsultaFechado.HorarioConsulta.Materia.Name)
                                    <br />
                                    @Html.DisplayFor(modelItem => item.HorarioConsultaFechado.Date)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>