@model WebPresentationMVC.Models.MvcInscripcionModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MvcInscripcionModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Topic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Topic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Answer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Answer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlumnoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlumnoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HorarioConsultaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HorarioConsultaId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
