@model IEnumerable<WebPresentationMVC.Models.MvcUsuarioModel>

@{
    ViewBag.Title = "Index";
}

@section styleDataTable {
    @Styles.Render("~/Content/dataTables")
}

@section scriptsDataTable {
    @Scripts.Render("~/bundles/dataTables")
    <script type="text/javascript">
        $(document).ready(function () {
            $('#dataTable').DataTable({ "bFilter": false });
            //  $('#dataTable').DataTable();
        });
    </script>
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <!-- _Edit Partial View Calling -->
    <script type="text/javascript">

        function modalEdit(data, url) {
            $('#modalEditUserContent').html(data);
            $('#editForm').bind("submit", function (event) {
                event.preventDefault();
                $.ajax({
                    type: "POST",
                    url: url,
                    data: $('#editForm').serialize(),
                    success: function (data) { modalEdit(data, url) }
                });

            });
        }

        $('.actionEditUser').on('click', function () {
            $('#editForm').unbind();
            let index = $(this).parent().siblings().first().text().trim();
            let url = `/Usuario/Edit/${index}`;
            $.ajax({
                type: "GET",
                url: url,
                success: function (data) { modalEdit(data, url) }
            });
        });

    </script>
}

<!-- Modal Nuevo Usuario -->
<!-- Hacer lo mismo que para el modal de usuario -->
<div class="container-fluid">
    <div class="modal fade" id="modalNewUser" tabindex="-1" role="dialog" aria-labelledby="modalNewUserTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <p> Loading... </p>
            </div>
        </div>
    </div>
</div>


<!-- Modal Modificar Usuario -->
<div class="container-fluid">
    <div class="modal fade" id="modalEditUser" tabindex="-1" role="dialog" aria-labelledby="modalEditUserTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" id="modalEditUserContent">
                <p> Loading... </p>
            </div>
        </div>
    </div>
</div>

<!-- Modal Eliminar Usuario -->
<!-- Hacer lo mismo que para el modal de usuario -->
<div class="container-fluid">
    <div class="modal fade" id="modalDeleteUser" tabindex="-1" role="dialog" aria-labelledby="modalDeleteUserTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" id="modalEditUserContent">
                <p> Loading... </p>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <!-- Index Usuario -->
    <h1 class="h3 mb-2 text-gray-800">Editar Usuarios</h1>
    <p class="mb-4">Las opciones aquí listadas son posibles debido a tu estado de administrador. Sé cuidadoso al modificar estas opciones (?</p>
    <div class="row  mb-3">
        <div class="col col-auto d-flex">
            <button class="btn btn-primary" type="button" name="button" data-toggle="modal" data-target="#modalNewUser">Añadir Usuario</button>
        </div>
        <form class="col">
            <div class="input-group">
                <input type="text" class="form-control bg-light border border-primary p-4" placeholder="Buscar Usuario" aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Id)</th>
                            <th>@Html.DisplayNameFor(model => model.Firstname)</th>
                            <th>@Html.DisplayNameFor(model => model.Surname)</th>
                            <th>@Html.DisplayNameFor(model => model.Username)</th>
                            <th>@Html.DisplayNameFor(model => model.Legajo)</th>
                            <th>@Html.DisplayNameFor(model => model.Matricula)</th>
                            <th>@Html.DisplayNameFor(model => model.IsAdmin)</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Id)</th>
                            <th>@Html.DisplayNameFor(model => model.Firstname)</th>
                            <th>@Html.DisplayNameFor(model => model.Surname)</th>
                            <th>@Html.DisplayNameFor(model => model.Username)</th>
                            <th>@Html.DisplayNameFor(model => model.Legajo)</th>
                            <th>@Html.DisplayNameFor(model => model.Matricula)</th>
                            <th>@Html.DisplayNameFor(model => model.IsAdmin)</th>
                            <th>Acciones</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Firstname)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Surname)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Username)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Legajo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Matricula)
                                </td>
                                <td>
                                    @if (item.IsAdmin)
                                    {
                                        <i class="d-flex justify-content-center fas fa-check fa-lg text-success"></i>
                                    }
                                    else
                                    {
                                        <i class="d-flex justify-content-center fas fa-times fa-lg text-danger"></i>
                                    }
                                </td>
                                <td class="d-flex align-items-center p-0">
                                    <button data-toggle="modal" data-target="#modalEditUser" type="button" class="actionEditUser d-flex align-items-center btn btn-warning m-1">
                                        <i class="fas fa-edit fa-xs m-1"></i>
                                        <p class="d-none d-md-block m-0">Editar</p>
                                    </button>
                                    <button data-toggle="modal" data-target="#modalDeleteUser" type="button" class="actionDeleteUser d-flex align-items-center btn btn-danger m-1">
                                        <i class="fas fa-trash-alt fa-xs m-1"></i>
                                        <p class="d-none d-md-block m-0">Eliminar</p>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
